= f.label :with_colors, required: false, label: I18n.t(:with_colors, scope: "activerecord.attributes.card")
| &nbsp;
= f.input :with_colors, collection: Card.colors.keys.map{|e| [I18n.t(e, scope: "activerecord.attributes.card.colors_values"), e]}, input_html: { multiple: true, class: 'js-select2' }
| &nbsp;&nbsp;
= f.label :with_rarity, required: false, label: I18n.t(:with_rarity, scope: "activerecord.attributes.card")
| &nbsp;
= f.input :with_rarity, collection: @resource_class.rarities.keys.map{|e| [@resource_class.human_enum_name(:rarity, e), e]}, input_html: { multiple: true, class: 'js-select2' }
| &nbsp; &nbsp;
= f.label :with_card_type, required: false, label: I18n.t(:with_card_type, scope: "activerecord.attributes.card")
| &nbsp;
= f.input :with_card_type, collection: @resource_class.card_types.keys, input_html: { multiple: true, class: 'js-select2' }