= datatable.with_filter(name: :with_colors, collection: @resource_class.colors.keys.map { |e| [I18n.t(e, scope: "activerecord.attributes.card.colors_values"), e] }, multiple: true, resource_class: @resource_class)
= datatable.with_filter(name: :with_rarity, collection: @resource_class.rarities.keys.map { |e| [@resource_class.human_enum_name(:rarity, e), e] }, multiple: true, resource_class: @resource_class)
= datatable.with_filter(name: :with_card_type, collection: @resource_class.card_types.keys, multiple: true, resource_class: @resource_class)
