= datatable.with_filter(name: :with_colors, collection: @resource_class.colors.keys.map { |e| [I18n.t(e, scope: "activerecord.attributes.deck.colors_values"), e] }, multiple: true, resource_class: @resource_class)
