= render IndexDatatableComponent.new do |datatable|
  = datatable.with_table(resource_class: @resource_class, filters: params[:filters])
  = render partial: 'filters', locals: { datatable: datatable }